
:root {
    --bg-primary: #f4f6f8;
    --bg-secondary: white;
    --text-primary: #333;
    --color-primary: #0066cc;
    --color-accent: #eaf3fc;
    --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


body.dark-mode {
    --bg-primary: #1a1a1a;
    --bg-secondary: #2d2d2d;
    --text-primary: #e0e0e0;
    --color-primary: #66b3ff;
    --color-accent: #3a3a3a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg-primary);
    color: #333;
    line-height: 1.6;
    padding: 2rem;
}


header {
    text-align: center;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

header h1{
    font-size: 2rem;
}

.tagline{
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1rem 0 2rem 0;
    gap: 1.5rem;
    flex-wrap: wrap;
    
}

nav a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--color-accent);
    text-decoration: underline;
}

main {
    max-width: 900px;
    margin: auto;

}

.container {
    max-width: 900px;
    margin: auto;
    padding: 1rem;
}

#about {
    background-color: var(--bg-primary);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-left: 5px solid var(--color-primary);
    border-radius: 5px;
}

.about-text p {
    margin-bottom: 1rem;
    color: var(--text-primary)
}

aside.interests {
    background-color: var(--bg-primary);
    padding: 1rem;
    margin-top: 1rem;
    border-left: 4px solid var(--color-primary);
    border-radius: 4px;
}

aside.interests ul {
    list-style: none;
    padding-left: 0;
}

aside.interests li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-primary)
}

details {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--bg-primary);
    border: 1px solid var(--color-accent);
    border-radius: 4px;
    color: var(--text-primary)
}

details summary {
    cursor: pointer;
    font-weight: bold;
    color: var(--text-primary)
}

h2, h3 {
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.theme-toggle{
    position:absolute;
    top: 1rem;
    right: 1rem;
    background: rbga(255,255,255,0.2);
    border:none;
    color:white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor:pointer;
    transition: background 0.3s ease;
}

.theme-toggle:hover {
    background: rgba(255, 255, 255, 1);
}

body.dark-theme header {
    background-color: var(--bg-secondary);
}


@media print {
    .theme-toggle {
        display: none;
    }

    body{
        background: white;
        color: black;
    }
}